<div class="block">
  <h3><%= t('groups.plural') %></h3>
  <div class="content">
    <p>Eine Gruppe ist eine Einheit, die Essenskisten bekommen kann. Es kann ein Stamm oder ein Zusammenschluss mehrerer Stämme sein.</p>
  </div>
</div>