<div class="block">
  <h3><%= t('boxes.plural') %></h3>
  <div class="content">
    <p>Eine Kiste legt fest welche Mahlzeiten zusammengepackt werden und wann diese Zusammenstellung (die Kiste) abgeholt werden kann. Aus einer Kiste werden Gruppenkisten erzeugt, die dann die genaue Menge von Zutaten die für eine Gruppe zur Verfügung gestellt werden enthalten.</p>
  </div>
</div>
<div class="block">
  <h3>Berechnung</h3>
  <ul class="navigation">
    <li><%= link_to t('boxes.actions.calculate_all'), create_groups_boxes_path, :method => :post, confirm: t('boxes.messages.confirm_recalculate_all') %></li>
  </ul>
</div>