<div class="block">
  <h3><%= t('meals.plural') %></h3>
  <div class="content">
    <p>Mahlzeiten legen fest zu welchem Zeitpunkt ein Rezept auf den Tisch kommt. Für jede Mahlzeit kann ein alternatives Rezept zur zur Auswahl durch die Gruppen zur Verfügung stehen.</p>
  </div>
</div>