<div class="block">
  <h3><%= t('meals.plural') %></h3>
  <div class="content">
    <p>Mahlzeiten legen fest zu welchem Zeitpunkt ein Rezept auf den Tisch kommt. Für jede Mahlzeit beliebig viele Rezept zur zur Auswahl durch die Gruppen zur Verfügung stehen.</p>
    <p>Die Rezeptauswahl wir im Bereich <%= link_to "Gruppen", groups_url %> vorgenommen</p>
  </div>
</div>