<div class="block">
  <h3><%= t('receipts.plural') %></h3>
  <div class="content">
    <p>In diesem Bereich werden die Rezepte erfasst und verwaltet. Alle Mengenangaben beziehen sich auf 10 Personen.</p>
  </div>
</div>