<div class="block notice">
  <h3>Rezept Liste</h3>
  <div class="content">
    <p>In diesem Bereich werden die Rezepte erfasst und verwaltet. Alle Mengenangaben beziehen sich auf 10 Personen.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="http://www.google.de">Google</a></li>
  </ul>
</div>