<!DOCTYPE html>
<html>
<head>
  <title>Food Packer <%= content_for?(:title) ? "- " + yield(:title) : "" %></title>
  <%= stylesheet_link_tag 'print', :media => "all" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="main">
        <%= yield %>

      </div>

</body>
</html>
